@font-face {
  font-family: "Cera Round Pro";
  src: url("/fonts/CeraRoundPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Round Pro";
  src: url("/fonts/CeraRoundPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Round Pro";
  src: url("/fonts/CeraRoundPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Round Pro";
  src: url("/fonts/CeraRoundPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
