@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.gradient-background {
  background: #fff; /* set the background color to white */
  background-image: radial-gradient(
    circle,
    #f5a8f0,
    #b197f7,
    #70b1d1
  ); /* set the initial gradient colors */
  animation: gradient-blob 15s ease infinite; /* set the animation to run infinitely */
}

@keyframes gradient-blob {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
