@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts.css";

#__next {
  flex: 1 1 auto;
}

html,
body {
  margin: 0;
  font-family: "Cera Round Pro", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.gradient-background {
  background: #fff; /* set the background color to white */
  background-image: radial-gradient(
    circle,
    #f5a8f0,
    #b197f7,
    #70b1d1
  ); /* set the initial gradient colors */
  animation: gradient-blob 15s ease infinite; /* set the animation to run infinitely */
}

@keyframes gradient-blob {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
